//! **************************************************************************
// Written by: Map O.87xd on Thu Dec 01 12:17:52 2022
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "H_sync_VGA" LOCATE = SITE "C5" LEVEL 1;
COMP "Red_VGA<0>" LOCATE = SITE "A6" LEVEL 1;
COMP "Red_VGA<1>" LOCATE = SITE "B6" LEVEL 1;
COMP "Red_VGA<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "Red_VGA<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "Red_VGA<4>" LOCATE = SITE "D7" LEVEL 1;
COMP "Red_VGA<5>" LOCATE = SITE "C7" LEVEL 1;
COMP "Red_VGA<6>" LOCATE = SITE "F8" LEVEL 1;
COMP "Red_VGA<7>" LOCATE = SITE "E8" LEVEL 1;
COMP "p1_Down" LOCATE = SITE "H18" LEVEL 1;
COMP "p2_Down" LOCATE = SITE "L13" LEVEL 1;
COMP "p1_Up" LOCATE = SITE "N17" LEVEL 1;
COMP "p2_Up" LOCATE = SITE "L14" LEVEL 1;
COMP "Green_VGA<0>" LOCATE = SITE "F9" LEVEL 1;
COMP "Green_VGA<1>" LOCATE = SITE "E9" LEVEL 1;
COMP "Green_VGA<2>" LOCATE = SITE "D11" LEVEL 1;
COMP "Green_VGA<3>" LOCATE = SITE "C11" LEVEL 1;
COMP "Green_VGA<4>" LOCATE = SITE "F11" LEVEL 1;
COMP "Green_VGA<5>" LOCATE = SITE "E11" LEVEL 1;
COMP "Green_VGA<6>" LOCATE = SITE "E12" LEVEL 1;
COMP "Green_VGA<7>" LOCATE = SITE "F12" LEVEL 1;
COMP "V_sync_VGA" LOCATE = SITE "D5" LEVEL 1;
COMP "Blue_VGA<0>" LOCATE = SITE "G15" LEVEL 1;
COMP "Blue_VGA<1>" LOCATE = SITE "B13" LEVEL 1;
COMP "Blue_VGA<2>" LOCATE = SITE "A14" LEVEL 1;
COMP "Blue_VGA<3>" LOCATE = SITE "B14" LEVEL 1;
COMP "Blue_VGA<4>" LOCATE = SITE "C14" LEVEL 1;
COMP "Blue_VGA<5>" LOCATE = SITE "D14" LEVEL 1;
COMP "Blue_VGA<6>" LOCATE = SITE "A16" LEVEL 1;
COMP "Blue_VGA<7>" LOCATE = SITE "B16" LEVEL 1;
COMP "DAC_CLK" LOCATE = SITE "A4" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

